.root {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  gap: 4rem;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@media (min-width: 640px) {
  .root {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

@media (min-width: 1024px) {
  .root {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}
